/.vs/BackupSQLDB/v14/.suo
/.vs/BackupSQLDB/v15/.suo
/.vs/BackupSQLDB/v15/sqlite3/storage.ide
/BackupSQLDB/bin/Debug/BackupSQLDB.exe
/BackupSQLDB/bin/Debug/BackupSQLDB.exe.config
/BackupSQLDB/bin/Debug/BackupSQLDB.pdb
/BackupSQLDB/bin/Debug/BackupSQLDB.vshost.exe
/BackupSQLDB/bin/Debug/BackupSQLDB.vshost.exe.config
/BackupSQLDB/bin/Debug/BackupSQLDB.vshost.exe.manifest
/BackupSQLDB/bin/Debug/BackupSQLDB.xml
/BackupSQLDB/bin/Debug/UNCAccessWithCredentials.pdb
/BackupSQLDB/obj/Debug/BackupSQLDB.Resources.resources
/BackupSQLDB/obj/Debug/BackupSQLDB.exe
/BackupSQLDB/obj/Debug/BackupSQLDB.frmBackupSQLDB.resources
/BackupSQLDB/obj/Debug/BackupSQLDB.pdb
/BackupSQLDB/obj/Debug/BackupSQLDB.vbproj.CopyComplete
/BackupSQLDB/obj/Debug/BackupSQLDB.vbproj.CoreCompileInputs.cache
/BackupSQLDB/obj/Debug/BackupSQLDB.vbproj.FileListAbsolute.txt
/BackupSQLDB/obj/Debug/BackupSQLDB.vbproj.GenerateResource.Cache
/BackupSQLDB/obj/Debug/BackupSQLDB.xml
/BackupSQLDB/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/BackupSQLDB/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BackupSQLDB/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
